.aboutUs-text {
    padding-right: 6rem;
    padding-left: 6rem;
}

p {
    font-size: larger;
}

.aboutUsContainer {
    margin-top: 5rem;
    background-color: #F6F6F6; 
}

.mision-vision {
    padding-top: 3rem;
    background-color: #008f2e;
}

.mision-container, .vision-container {
    background-color: #008f2e;
    padding-bottom: 1.5rem;
}

.text-center {
    padding-bottom: 1.5rem;
}